/*10/8*/
/*toyo*/
*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ffcf46;
}
.body{
    background-color:#000000;/*改*/
    background-image:url(../img/body.png);
    background-attachment:fixed;
    background-position: top;
}
.body1{
    background-color:#000000;/*改*/
    background-image:url(../img/body2.png);
    background-attachment:fixed;
    background-position:bottom;
}
.nav{
    width: 99%;
    position: fixed;
    z-index: 10;
    height: 44px;
    background-color: #000000;
    border: 1px #ffffff solid;
}

.telephone{
    width: 81%;
    height: 86%;
    float: left;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding-top: 7px;
    border-right: 3px #fbd6bc solid;
}
.navimg{
    height: 83%;
    width: 12%;
    margin: 8px;
    background-image: url(../img/list.png);
    float: right;
}
.navLong{
    width: 65%;
    position:fixed;
    z-index: 15;
    background-color: black;
    display: none;
    border: 2px white solid;
}

.navLong1{
    width: 92%;
    height: 37px;
    border: 3px white solid;
    border-radius: 10px;
    padding-top: 11px;
    font-size: 19px;
    margin: 6px;
    text-align: center;
    vertical-align: middle;
    background-color: #000000;
}
.navLongLogo {
    margin-top: 5px;
    height: 104px;
    text-align: center;
    vertical-align: middle;
    background-image: url(../img/logo.png);
}
.navLong2{
    border-top: 3px salmon solid;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    height: 55px;
    font-size: 19px;
    text-align: center;
    padding-top: 15px;
    vertical-align: middle;
}
.top{
    height: 212px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #00000033;

}

.logo{
    width: 280px;
    height: 120px;/*需要调试*/
    background-image: url(../img/logo.png);
}
.tel{
    width: 224px;
    height: 108px;
    background-image: url(../img/tel.png);
}
.navLage{
    height:75px;
    display: none;
}
.navButton{
    height:50px;
    width: 16.65%;
    background-color: chocolate;
    float: left;
}
.focus{
    background-image:unset;
}
.footing{
    display: none;
    position:fixed;
    z-index: 10;
    bottom:0px;
    height: 50px;
    background-color: violet;
}
.end{
    display: none;
    height: 180px;/*需要调试*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #000000ba;
}
.endimg{
    height: 180px;/*需要调试*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #000000ba;
    background-image: url(../img/end.png);
}
.Titles{
    height: 86px;
    /* background-image: url(../img/titleback.png); */
    background-repeat: repeat-x;
    background-size: unset;
}
@media screen and (min-width:700px) {
    .top{
    height: 150px;/*需要调试*/
    justify-content:space-between;
    padding-top: 98px;
    }
    .focus{
        height: 500px;
        background-image:url(../img/body2.png);
    }
    .nav {
        width: 99%;
        height: 95px;
    }
    .telephone {
        font-size: 50px;
    }
    .top div{
        margin: 25px;/*需要调试*/
    }
    .end{
        display: block;
        height: 180px;/*需要调试*/
        justify-content:space-between;
        display: flex;
    }
}

@media screen and (min-width:900px) {
    body{
        width: 900px;
        background-color: #fffeec;
    }
    *{
        /* width: 900px; */
        margin: 0px auto;
    }
    .top{
        padding-top: 0px;
        }
    .nav{
        display: none;
    }
    .navLage{
        display: block;
    }
    .Titles{
        height: 140px;
        background-repeat: repeat-x;
        background-size: unset;
    }
     .end{
            display: block;
    }
    .endimg{
        display: none;
    }
    .girlPhoto{
        height: 365px;
    }    
}