/*10/8*/
/*toyo*/
.stafftitle{
    height: 88px;
    background-image: url(../img/stafftitle.png);
}
.swiper-container {
    width: 157px;
    height: 212px;
    z-index: 0;
    position: absolute;
    margin: 4px;
    border: 1px #c39a26 solid;
  }
  .staffBox {
    width: 96%;
    height: 335px;
    background-color: #000000c4;
    padding: 6px;
    border: 1px #ffffff solid;
    /* border-radius: 10px;*/
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .staPhotoffBox{
      width: 55%;
      height: 280px;
      float: left;
  }
  .staBigPhotoffBox{
      height: 237px;
  }
  .staPhotoffBoxSmall ul li{
    margin: 3px;
    border: 2px #c39a26 solid;
    width: 45px;
    height: 58px;
    float: left;
  }
  .staPhotoffBoxSmall ul{
    width: 100%;
  }
  .txt{
      width: 45%;
      height: 100px;
      font-size: 10px;
      float: right;
  }
  .txt h2,h3,h4{
    color:#ffffff;;
margin-top: 5px;
    border: 2px #c39a26 solid;
  }
.txt h4{
    height: 174px;
    overflow-y: scroll;
  }
  @media screen and (min-width:900px) {
    .staPhotoffBoxSmall ul li{
        margin: 3px;
        width: 45px;
        height: 60px;
        float: left;
    }
    .staPhotoffBox{
        width: 35%;
        margin-left: 111px;
    }
    .txt{
        width: 35%;
        margin-right:90px ;
    }
   
    .stafftitle{
        background-size: unset;
        height: 130px;
        background-position: center;
 
    }
 }