.logo{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .logo p{
   font-size: 24px;
   background-image:-webkit-linear-gradient(bottom,#ff9fda,#460303ba); 
   -webkit-background-clip:text; 
   -webkit-text-fill-color:transparent; 
   margin-top: 15px;
 }
 .nav{
   z-index: 1;
   position:absolute;
   width: 100%;
   height: 150px;
   overflow:hidden;
 }
 .i18{
   float: left;
   margin-top: 12px;
   float: left;
 }
 .call{
    width: 200px;
    height: 40px;
    font-size: 23px;
    text-align: center;
    background-color: #f1d5c7;
    border: 2px solid #ffdead;
    border-radius: 0px 15px 15px 0px;
    float: right;
    display: flex;
    justify-content: center;
 }
 .call_text{
    margin-top: 5px;
    margin-left: 15px;
    color: #5f7da0;
 }
 .nav1{
   float: right;
   padding-top: 18px;
 }
 .nav0{
   margin-left: 50px;
 }
 .nav2{
  margin-right: 20px;
  position: relative;
  font-size: 20px;
  margin-top: 5px;
  width: 90px;
  color:#6f3d63;
  text-align: right;
 }
@font-face{
  font-family: 'HYLingXinTiJ'; 
  src:url('HYLingXinTiJ.ttf');
}
@font-face{
  font-family: 'HYYouYuanTiW'; 
  src:url('HYYouYuanTiW.ttf');
}
.div2{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.past2{
width: 100%;
height: 80%;
position:relative;
top: 8%;

}
.sample1 img{
width: 287px;
position:inherit;
top: -13%;
}
.sample1{
width: 100%;
height: 100%;
position:relative;
background: linear-gradient(to bottom right,#d0b9ea,#ffcd84);
}
.text1{
  font-family: 'HYLingXinTiJ'; 
  font-size: 33px;
  z-index: 1;
  padding: 2%;
  color: #ff926c;
  margin-top: 80px;
}
.text1 div{
border-radius: 28px;
font-family: 'HYYouYuanTiW';
width: 500px;
font-size: 25px;
margin-top: 20px;
color: cornflowerblue;
background-color: #ffd3826b;
}
.text2{
    font-family: 'HYLingXinTiJ'; 
    background-color: #ffffff8f;
    font-size: 25px;
    padding: 2%;
    color: #ff926c;
    position: absolute;
    top: 270px;
    border-radius: 0 0 55px 0;
    border: 1px solid salmon;
    }
.sample2{
width: 100%;
height: 100%;
background:#000000;
border-radius: 500px 0 0 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.text3{
width: 85%;
height: 20%;
background-color: #ffffff36;
border: 2px solid #ffffff;
border-radius: 30px;
color: antiquewhite;
font-size: 22px;
padding-top: 3%;
margin-top: 6%;
}
.text0{
    margin-top: %;
    height: 20%;
}
.text3 img{
    height: 35%;
    margin-top: 5px;
}
.past4{
width: 100%;
height: 100%;
background: linear-gradient(to bottom right,#ffd281,#ffffff);
border-radius: 0px 125px 0 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.title_{
    font-family: 'HYLingXinTiJ'; 
    font-size: 28px;
    color: #9a5976;
}
.Description{
    font-size: 18px;
    color: #421a15;
}
.smpal4{
  width: 80%;
  height: 80%;
  border-radius: 50px 50px 50px 50px;
  border: 2px solid #ffffff;
  background-color: #103b5a;
 
}
.text5{
  font-family: 'HYYouYuanTiW';
  position: absolute;
  width: 100%;
  height: 39px;
  font-size: 25px;
  color: #14324cab;
  background-color: #ffffffa6;
  z-index: 2;
  top: 343px;
}
.photo{
  width: 80%;
 
}
.photo img{
  width: 100%;
  height: 107%;
  border-radius: 20px 20px 20px 20px;
  border: 4px solid #ffffff
}
@media screen and (min-width:768px) {
.div2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text1 {
  margin-left: -300px;
  margin-top: 71px;
}
.text1 div {
  width: 357px;
}
.past2 {
  position: unset;
}
  .sample1 img {
    width: 287px;
    position: inherit;
    top: 6%;
    left: 191px;
}
.text2 {
  position: absolute;
  top: 230px;
  left: 68px;
}
.text3 {
  width: 55%;
  font-size: 35px;
}
.Description {
  font-size: 25px;
}
.photo {
  width: 61%;
}
.text5 {
  height: 86px;
  font-size: 70px;
}
}
@media screen and (min-width:1000px) {
  .text3 {
    width: 27%;
    height: 46%;
}
.sample2 {
  justify-content: space-around;
  flex-direction: row-reverse;
}
.text3 {
  width: 60%;
  height: 45%;
}
.photo {
  width: 60%;
}
.sample1 img {
  width: 382px;
  position: inherit;
  top: 6%;
  left: 245px;
}
.text2 {
  font-size: 36px;
  position: absolute;
  top: 230px;
  left: 68px;
}
.sample2 {
  flex-direction: column;
}
}
@media screen and (min-width:1366px) {
  .photo {
    width: 40%;
}
}